.App {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.sidemenu {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    border-right: solid 1px rgba(162, 162, 162, 0.384);
    place-content: center;
    margin-left: 200px;
}

.sidemenu-bar {
    list-style-type: none;
    place-content: center;
    text-decoration: none;

}

.sidemenu-bar li {
    padding: 10px;
    font-size: 20px;
}

.sidemenu-bar li a {
    text-align: justify;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    color: black;
    text-decoration: none;
}

.sidemenu-bar img {
    width: 30px;
    height: 30px;
}

.sidebar-li-div {
    margin-top: 8px;
    width: 150px;
}

.Icon:hover {
    width: 37px;
    border-radius: 50%;
    background-color: rgba(203, 203, 203, 0.608);
}

.sidebar-li-div:hover {
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
}

.sidebar-button {
    width: 170px;
    height: 40px;
    color: white;
    border: transparent;
    background-color: #1DA1F2;
    border-radius: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile-in-side {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
    text-decoration: none;
}

.profile-in-side h3 {
    color: black;
    text-decoration: none;
}

.profile-in-side img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-in-side:hover {
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
}

.rightside {
    width: 400px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    border-left: solid 1px rgba(162, 162, 162, 0.384);
}

.trends-for-you {
    background-color: rgba(199, 199, 199, 0.273);
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
}

.trends-for-you h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trends-for-you ul {
    list-style-type: none;
}

.trends-section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.trends-section li {
    margin: 10px;
}

.trends-section:hover {
    background-color: rgba(178, 178, 178, 0.482);
    border-radius: 10px;
}

.trends-section img {
    width: 30px;
}

.search-sidebar input {
    width: 300px;
    height: 50px;
    border: transparent;
    border-radius: 50px;
    background-color: rgba(206, 206, 206, 0.193);
    margin-top: 30px;
    margin-left: 50px;
}

.my-tweets {
    border-bottom: solid 1px rgba(162, 162, 162, 0.384);
    margin-bottom: 20px;
}

.post-tweet {
    display: grid;
    grid-template-rows: 1fr auto;
}

.post-new-tweet {
    margin: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.post-new-tweet-form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.post-new-tweet-form :placeholder-shown {
    font-size: 25px;
}

.post-new-tweet-form input {
    border: transparent;
}

.post-new-tweet-form button {
    width: 150px;
    height: 50px;
    color: white;
    border: transparent;
    background-color: #1DA1F2;
    border-radius: 40px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-new-tweet-icons {
    margin-left: 30px;
}

.post-new-tweet-icons img {
    width: 20px;
    height: 20px;
    margin: 20px;
}

.post-new-tweet-icons img:hover {
    background-color: #52bdff89;
    border-radius: 50%;
    border-image-width: 30px;
}

.post-new-tweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.my-new-tweet ul {
    list-style-type: none;
    margin: 10px;
}

.my-new-tweet li {
    border-top: solid 1px rgba(172, 172, 172, 0.251);
    border-bottom: solid 1px rgba(172, 172, 172, 0.37);
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
}

.my-new-tweet-post-part {

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.my-new-tweet-post-part p {
    text-align: justify;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 20px;
}

.my-new-tweet-post-part img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-new-tweet-like {
    margin-left: 30px;
}

.my-new-tweet-like img {
    width: 20px;
    height: 20px;
    margin: 20px;
}

.tweets-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    color: black;
    text-decoration: none;

}

.tweets-content Link {
    text-decoration: none;
    color: black;
}

.tweets-content ul {
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.tweets-content li {
    text-decoration: none;
    padding: 10px;
    border-bottom: solid 1px rgba(162, 162, 162, 0.384);
}

.user-profile {
    display: grid;
    grid-template-columns: auto 1fr;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-profile h3 {
    color: black;
    text-decoration: none;
    text-align: justify;
    padding-top: 10px;
    margin-left: 20px;
}

.tweet-holder {
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    gap: 1rem;
}

.tweet-holder img {
    border-radius: 30px;
}

.tweet-holder p {
    color: black;
    font-size: 18px;
    width: 80%;
}

.interation-section {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    text-align: center;
    color: black;
    margin-left: 20%;
    margin-top: 10px;
}

.interation-section a {
    text-decoration: none;
}

.interation-section a:hover {
    background-color: rgba(205, 205, 205, 0.595);
    border-radius: 20px;
}

.each-tweets-content {
    padding: 20px;
    border: solid 2px rgba(128, 128, 128, 0.647);
}

.each-tweet-holder {
    padding: 20px;
}

.each-tweet-holder img {
    border-radius: 20px;
}

.each-tweet-holder p {
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    width: 90%;
}

.each-interation-section {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

.each-interation-section a:hover {
    background-color: rgba(205, 205, 205, 0.595);
    border-radius: 20px;
}

.tweet-replies {
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 15px;
    border-bottom: solid 1px rgba(162, 162, 162, 0.384);
}

.tweet-replies ul {
    list-style-type: none;
}

.tweet-replies li {
    padding: 10px;
    border-bottom: solid 1px rgba(162, 162, 162, 0.384);
}

.profili-i-perdoruesit {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.profili-i-perdoruesit img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profili-i-perdoruesit h3 {
    text-align: justify;
    padding-top: 10px;
}

.profile-part {
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.578);

}

.replies-content {
    text-align: justify;
    margin-left: 70px;
}


.tweet-replies-new-tweet-like {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 60%;
    margin-left: 20%;

}

.tweet-replies-new-tweet-like img {
    width: 20px;
    height: 20px;
    margin: 20px;
}

.profile-part {
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin: 10px;
    gap: 10px;
}

.main-pic img {
    width: 100%;
    height: 300px
}

.profile-more {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: space-between;
}

.profile-more img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.profile-more button {
    width: 200px;
    border-radius: 30px;
    place-content: end;
    font-size: 18px;
}

.profile-more button:hover {
    background-color: #1DA1F2;
    border: transparent;
    color: white;
}

.username {
    padding-left: 20px;
}

.likes-tweets-replies {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.likes-tweets-replies a:hover {
    background-color: rgba(148, 148, 148, 0.378);
}

.tweet-holder img {
    padding: 20px;
    width: 100%
}